@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery-icon {
  filter: none;
}

.image-gallery-left-nav, .image-gallery-right-nav {
  background:white;
  color: #000;
  opacity: 0.5;
  padding: 10px 10px;
}

.image-gallery-left-nav:hover, .image-gallery-right-nav:hover {
  color: #000; 
  opacity: 1; 
}
