@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery-icon {
  filter: none;
}

.image-gallery-left-nav, .image-gallery-right-nav {
  height: 100%;
}

.image-gallery-left-nav:hover {
  height: 100%;
  color: #22543D;
  background-image:
    linear-gradient(
      to right, 
      #C6F6D5,
      transparent
    );
}

.image-gallery-right-nav:hover {
  height: 100%;
  color: #22543D;
  background-image:
    linear-gradient(
      to right, 
      transparent,
      #C6F6D5
    );
}
