@tailwind base;
@tailwind components;
@tailwind utilities;

.react-slideshow-container {
  width: 725px;
  height: 425px;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 725px;
  height: 425px;
}
